body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei'; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: none; }

.bigboxx {
  position: fixed;
  width: 100%;
  z-index: 10;
  left: 0px;
  top: 0px; }

.header {
  width: 100%;
  height: 84px;
  background: url(../img/top_bg.png) no-repeat;
  background-size: 100% 100%; }

.header ul {
  margin: 0 auto;
  width: 1240px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center; }

.top_left {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-left: 10px; }

.top_right {
  margin-right: 10px; }

.nav1 {
  font-family: 'PingFangSC-Light', 'Microsoft YaHei';
  color: #6abd47;
  font-size: 0.8rem; }

.top_left .nav1 .icon {
  width: 12px;
  color: #6abd47;
  background: url(../img/sprite_icon.png) no-repeat -32px -111px; }

.nav2 {
  font-family: 'PingFangSC-Light', 'Microsoft YaHei';
  color: #6abd47;
  font-size: 0.8rem;
  padding: 0 10px; }

.nav3 {
  font-family: 'PingFangSC-Light', 'Microsoft YaHei';
  color: #6abd47;
  font-size: 0.8rem; }

.top_midden h1 {
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  text-align: right;
  color: #6cac53;
  letter-spacing: 8px; }

/*header*/
.action {
  position: absolute;
  bottom: 0px;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-color: #fff;
  margin-left: 30px;
  display: none; }

.lis a:hover span {
  display: block; }

.nav {
  width: 100%;
  background: #6abd47; }

#navv {
  width: 100%;
  height: 100%; }

.nav .nav_bot {
  margin: 0 auto;
  width: 1200px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center; }

.nav_left ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center; }

.small {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  background: #fff; }

.tab-content {
  width: 96%;
  height: auto;
  overflow: hidden;
  padding: 0 2%;
  border-bottom: 1px solid #ecebeb; }

.tab-content dl {
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 15px;
  color: #000; }

.tab-content dl dt {
  width: 82px;
  font-weight: 600;
  /* margin-top:10px;*/
  margin-bottom: 10px; }

.tab-content dl dd {
  width: calc(100% - 82px);
  height: auto;
  overflow: hidden; }

.tab-content dl dd a {
  display: inline-block;
  margin: 0 20px 10px 0;
  color: #666; }

dt {
  display: block; }

.tab-content dl dt a {
  color: #000; }

.l {
  float: left; }

.small .boxmegg {
  display: none;
  height: auto;
  overflow: hidden;
  z-index: 2;
  margin-bottom: 20px;
  margin-top: 20px; }

.nav_left ul li {
  margin-right: 36px; }

.nav_left ul li a {
  position: relative;
  display: block;
  color: #fff;
  height: 56px;
  line-height: 56px; }

.nav_right {
  width: 23%;
  height: 46px;
  z-index: 200000;
  background-color: #fff;
  margin-top: 5px; }

.nav_right input {
  display: inline-block;
  width: calc(100% - 72px);
  font-size: 14px;
  line-height: 46px;
  border: none;
  -webkit-appearance: none;
  background-color: #fff;
  height: 46px;
  padding-left: 28px;
  box-sizing: border-box;
  color: #222; }

.nav_right .icon {
  border: none;
  cursor: pointer;
  width: 22px;
  height: 20px;
  z-index: 20000;
  background: url(../img/sprite_icon.png) no-repeat -30px -81px;
  float: right;
  margin: 15px 28px 15px 0px; }

input, button {
  font: 12px "\5B8B\4F53", arial, helvetica, "sans-serif";
  vertical-align: middle; }

.icon {
  display: inline-block; }

.nav_right {
  width: 23%;
  height: 46px;
  z-index: 200000;
  background-color: #fff;
  margin-top: 5px; }

/*nav*/
.sanbox {
  margin-top: 140px;
  height: 30px;
  line-height: 30px; }
  .sanbox a {
    font-size: 12px;
    color: #666; }

.product {
  max-width: 1200px;
  height: auto;
  overflow: hidden;
  background: #f9f9f9;
  padding: 20px 3% 40px 3%;
  margin: 0 auto; }
  .product .page_title {
    padding-bottom: 22px;
    border-top: 1px solid #b2b2b2;
    border-bottom: 2px solid #b2b2b2;
    margin-bottom: 30px; }
    .product .page_title .page_tab {
      margin-top: 10px;
      width: 100%;
      height: auto;
      overflow: hidden; }
      .product .page_title .page_tab .r {
        float: right;
        width: 45%;
        padding-top: 80px; }
        .product .page_title .page_tab .r li {
          float: right;
          margin-left: 22px; }
      .product .page_title .page_tab .l {
        float: left; }
        .product .page_title .page_tab .l h3 {
          font-size: 26px;
          color: #000;
          padding-top: 32px;
          width: 100%;
          height: auto;
          overflow: hidden; }
        .product .page_title .page_tab .l p {
          font-size: 14px;
          margin-top: 10px;
          width: 100%; }
