body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei'; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: none; }

.bigboxx {
  position: fixed;
  width: 100%;
  z-index: 10;
  left: 0px;
  top: 0px; }

.header {
  width: 100%;
  height: 84px;
  background: url(../img/top_bg.png) no-repeat;
  background-size: 100% 100%; }

.header ul {
  margin: 0 auto;
  width: 1240px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center; }

.top_left {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-left: 10px; }

.top_right {
  margin-right: 10px; }

.nav1 {
  font-family: 'PingFangSC-Light', 'Microsoft YaHei';
  color: #6abd47;
  font-size: 0.8rem; }

.top_left .nav1 .icon {
  width: 12px;
  color: #6abd47;
  background: url(../img/sprite_icon.png) no-repeat -32px -111px; }

.nav2 {
  font-family: 'PingFangSC-Light', 'Microsoft YaHei';
  color: #6abd47;
  font-size: 0.8rem;
  padding: 0 10px; }

.nav3 {
  font-family: 'PingFangSC-Light', 'Microsoft YaHei';
  color: #6abd47;
  font-size: 0.8rem; }

.top_midden h1 {
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  text-align: right;
  color: #6cac53;
  letter-spacing: 8px; }

/*header*/
.action {
  position: absolute;
  bottom: 0px;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-color: #fff;
  margin-left: 30px;
  display: none; }

.lis a:hover span {
  display: block; }

.nav {
  width: 100%;
  background: #6abd47; }

#navv {
  width: 100%;
  height: 100%; }

.nav .nav_bot {
  margin: 0 auto;
  width: 1200px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center; }

.nav_left ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center; }

.small {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  background: #fff; }

.tab-content {
  width: 96%;
  height: auto;
  overflow: hidden;
  padding: 0 2%;
  border-bottom: 1px solid #ecebeb; }

.tab-content dl {
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 15px;
  color: #000; }

.tab-content dl dt {
  width: 82px;
  font-weight: 600;
  /* margin-top:10px;*/
  margin-bottom: 10px; }

.tab-content dl dd {
  width: calc(100% - 82px);
  height: auto;
  overflow: hidden; }

.tab-content dl dd a {
  display: inline-block;
  margin: 0 20px 10px 0;
  color: #666; }

dt {
  display: block; }

.tab-content dl dt a {
  color: #000; }

.l {
  float: left; }

.small .boxmegg {
  display: none;
  height: auto;
  overflow: hidden;
  z-index: 2;
  margin-bottom: 20px;
  margin-top: 20px; }

.nav_left ul li {
  margin-right: 36px; }

.nav_left ul li a {
  position: relative;
  display: block;
  color: #fff;
  height: 56px;
  line-height: 56px; }

.nav_right {
  width: 23%;
  height: 46px;
  z-index: 200000;
  background-color: #fff;
  margin-top: 5px; }

.nav_right input {
  display: inline-block;
  width: calc(100% - 72px);
  font-size: 14px;
  line-height: 46px;
  border: none;
  -webkit-appearance: none;
  background-color: #fff;
  height: 46px;
  padding-left: 28px;
  box-sizing: border-box;
  color: #222; }

.nav_right .icon {
  border: none;
  cursor: pointer;
  width: 22px;
  height: 20px;
  z-index: 20000;
  background: url(../img/sprite_icon.png) no-repeat -30px -81px;
  float: right;
  margin: 15px 28px 15px 0px; }

input, button {
  font: 12px "\5B8B\4F53", arial, helvetica, "sans-serif";
  vertical-align: middle; }

.icon {
  display: inline-block; }

.nav_right {
  width: 23%;
  height: 46px;
  z-index: 200000;
  background-color: #fff;
  margin-top: 5px; }

/*nav*/
.sanbox {
  margin-top: 140px;
  height: 30px;
  line-height: 30px; }
  .sanbox a {
    font-size: 12px;
    color: #666; }

.product {
  max-width: 1200px;
  height: auto;
  overflow: hidden;
  background: #f9f9f9;
  padding: 20px 3% 40px 3%;
  margin: 0 auto; }
  .product .page_title {
    padding-bottom: 22px;
    border-top: 1px solid #b2b2b2;
    border-bottom: 2px solid #b2b2b2;
    margin-bottom: 30px; }
    .product .page_title .page_tab {
      margin-top: 10px;
      width: 100%;
      height: auto;
      overflow: hidden; }
      .product .page_title .page_tab .r {
        float: right;
        width: 45%;
        padding-top: 80px; }
        .product .page_title .page_tab .r li {
          float: right;
          margin-left: 22px; }
      .product .page_title .page_tab .l {
        float: left; }
        .product .page_title .page_tab .l h3 {
          font-size: 26px;
          color: #000;
          padding-top: 32px;
          width: 100%;
          height: auto;
          overflow: hidden; }
        .product .page_title .page_tab .l p {
          font-size: 14px;
          margin-top: 10px;
          width: 100%; }
  .product .list_box {
    margin: 22px 0 42px 0; }
    .product .list_box .swiper-container {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      overflow: hidden;
      z-index: 1; }
      .product .list_box .swiper-container .swiper-slide {
        width: 5.5%;
        margin-right: 3.8%;
        flex-shrink: 0;
        position: relative; }
      .product .list_box .swiper-container .swiper-slide:last-child {
        margin-right: 0; }
      .product .list_box .swiper-container .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        -ms-transition-property: -ms-transform;
        transition-property: transform;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box; }
      .product .list_box .swiper-container .this_one span {
        color: #83af71;
        background: url(../img/type_bg.png) no-repeat bottom center; }
      .product .list_box .swiper-container p {
        color: #666; }
        .product .list_box .swiper-container p span {
          width: 100%;
          height: 45px;
          line-height: 45px;
          font-size: 14px;
          display: block;
          text-align: center; }
      .product .list_box .swiper-container p:hover {
        color: #83af71; }
    .product .list_box #tabbox {
      width: 100%; }
      .product .list_box #tabbox .type_table {
        width: 100%;
        height: 34px;
        border: 1px solid #83af71;
        margin-top: 8px;
        border-collapse: collapse;
        border-spacing: 0;
        display: none; }
        .product .list_box #tabbox .type_table tbody {
          display: table-row-group;
          border-color: inherit; }
          .product .list_box #tabbox .type_table tbody tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit; }
            .product .list_box #tabbox .type_table tbody tr th {
              display: table-cell;
              text-align: center;
              font-size: 12px; }
        .product .list_box #tabbox .type_table a {
          color: #666;
          font-size: 12px;
          font-weight: normal; }
        .product .list_box #tabbox .type_table a:hover {
          color: #83af71; }
  .product hr {
    margin: 36px 0 60px 0;
    height: 2px;
    background: #626262; }

.shoppinglis {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 74px; }
  .shoppinglis .pro_con_list {
    width: 22%;
    height: auto;
    margin: 0 1.5% 60px 1.5%; }
    .shoppinglis .pro_con_list dl {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px; }
      .shoppinglis .pro_con_list dl dt {
        width: 100%;
        text-align: center; }
        .shoppinglis .pro_con_list dl dt img {
          border: 0;
          width: 100%;
          display: block; }
      .shoppinglis .pro_con_list dl dd {
        width: 100%;
        text-align: center; }
      .shoppinglis .pro_con_list dl .dd1 {
        font-size: 18px;
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-top: 10px; }
      .shoppinglis .pro_con_list dl .dd2 {
        margin-top: 0px; }
        .shoppinglis .pro_con_list dl .dd2 span {
          line-height: 34px;
          padding: 4px 15px;
          background: #617d49;
          color: #fff; }
  .shoppinglis .l {
    float: left; }
  .shoppinglis .shoppingbottom {
    margin-top: 20px;
    text-align: center; }
    .shoppinglis .shoppingbottom .pager a {
      padding: 3px 10px;
      color: #000000;
      font-size: 1rem;
      margin: 5px 1% 0 0;
      display: inline-block;
      border: 1px solid #4f8136;
      color: #4f8136; }
    .shoppinglis .shoppingbottom .pager .page-curr {
      border: 1px solid #4f8136;
      background: #4f8136;
      color: #fff; }

.footer {
  border-top: 20px solid #dae7d4;
  margin-top: 50px; }

.bottom-area {
  height: auto;
  overflow: hidden;
  background-color: #fff;
  padding: 0 2% 25px 2%; }

.bottom-area .container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px; }

.bottom-area .menu {
  overflow: hidden; }

.bottom-area .menu li {
  width: 10%;
  margin: 0 2%;
  float: left; }

.bottom-area .bottom-bar p {
  text-align: center;
  font-size: 0.8rem;
  line-height: 26px; }

.bottom-area .bottom-bar p {
  text-align: center;
  font-size: 0.8rem;
  line-height: 26px; }

.bottom-area .menu li .menu-item li {
  width: 100%;
  height: 25px;
  line-height: 25px;
  color: #000000;
  font-size: 0.8rem; }

.bottom-area .menu li.last_li {
  width: 27%;
  margin: 0;
  padding-left: 3%; }

.bottom-area .bottom-bar {
  width: 100%;
  margin-top: 30px;
  overflow: hidden; }

.bottom-area .menu li .menu-item a {
  font-size: 0.8rem;
  color: #000000; }

.bottom-area a:hover {
  text-decoration: underline; }

.bottom-area .menu li .menu-item .title {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 10px;
  text-align: left;
  font-weight: 600; }
